
<form method="POST" action="">
  <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" id="table">
    <tr>
      <td><b>Select&nbsp;&nbsp;</b></td>
      <td><b>Problem&nbsp;&nbsp;</b></td>
      <td><b>Course&nbsp;&nbsp;</b></td>
      <td><b>Start Date&nbsp;&nbsp;</b></td>
      <td><b>Due Date&nbsp;&nbsp;</b></td>
    </tr>
    <tr>
      <td><input type="checkbox" name="problem" value="001"></td>
      <td>#001 Trait A and B&nbsp;&nbsp;</td>
      <td>BIOL 334&nbsp;&nbsp;</td>
      <td>01/01/2006</td>
      <td>02/02/2006&nbsp;&nbsp;</td>
    </tr>
    <tr>
      <td><input type="checkbox" name="problem" value="002"></td>
      <td>#002 Trait A and B&nbsp;&nbsp;</td>
      <td>BIOL 334&nbsp;&nbsp;</td>
      <td>01/01/2006</td>
      <td>02/02/2006&nbsp;&nbsp;</td>
    </tr>
  </table>
  <p><input type="submit" value="Change Problem" name="action">
  <input type="submit" value="View Students" name="action"></p>
  <p>&nbsp;</p>
</form>