
MODIFY COURSES<br>

<form method="POST" action="">
<input type="hidden" name="courseid" value="1234">

<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" id="AutoNumber1">
  <tr>
    <td><b>Course ID=1</b><br>
    Name: <input type="text" name="name" size="30" value="BIOL 334" /></td>
  </tr>
  <tr>
    <td>
    Description: <br>
    <textarea name="desc" cols="60" rows="10">some description</textarea>
    </td>
  </tr>

  <tr>
    <td>
      <input type="submit" value="Submit Changes" name="B1" /> <input type="reset" value="Reset" name="B2" />
  </tr>

</table>
</form>